.content {
    margin-top: 100px;
}

.subTitle {
    margin-top: 40px;
}

.aboutDesc {
    font-size: 1.4em
}

.teamMember {
    margin-top: 40px;
}

.card {
    border-style: none;
}

.card img {
    height: 300px;
}