.footer {
    font-size: 13px;
    color: black;
    background-color: #d1d1d1;
    margin-top: 70px;
    padding: 10px 0;
}

.footer a {
    text-decoration: none !important;
    color: black;
    font-size: 13px;
}

.footer a:hover {
    color: black;
    cursor: pointer;
}

@media (max-width: 575px) {
    .githubLink {
	margin: 15px 0;
    }
}
